<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
           <img src="../../assets/bxs-phone.svg" alt=""> <h4>Phone number</h4>
            <p>549 351000000</p>
        </div>
        <div class="content-foo">
            <img src="../../assets/bxs-map.svg" alt=""><h4>Direction</h4>
            <p>Street 128, Neighborhood, Town, Cordoba</p>
        </div>
        <div class="content-foo">
          <img src="../../assets/bx-envelope.svg" alt=""><h4>Email</h4>
            <p>test@gmail.com</p>
        </div>
    </div>

    <div class="boton-subir">
    <a href="#" class="subir">Go up</a>
    </div>

    <h2 class="titulo-final">&copy; AAA</h2>


   

</footer>