
<div class="section_sn" id="sobrenosotros">



    <div class="titulosobrenosotros">

        <a name="UN POCO DE HISTORIA SOBRE NOSOTROS"></a>
        <h2  class="titulo">A LITTLE HISTORY ABOUT US</h2> 
        
    </div>     
        
 <div class="contenedor-sobre-nosotros">
    
   <div class="imagen">
    <img src="../../assets/ilustraciones2.png" alt="">
   </div>
      

 <div class="contenido-textos">

    <article> 
        <p>We are a Civil Association created in 1989. The institution carries out a fundamental task in our town, promoting and facilitating reading as the main means of access to knowledge, culture, art and recreation. The library does not distinguish between race, beliefs, nationalities or gender; guarantees ideological pluralism and the exercise of the right to information. This Popular Library complies with the provisions of Law 23,551 and its Regulations approved by the Executive Power of the Nation by Decree No. 1078/89, as well as with the other provisions established by the NATIONAL PROTECTIVE COMMISSION OF POPULAR LIBRARIES (CONABIP). ).

          The mission of the Library is to collect, preserve and disseminate the various bibliographic materials, printed and in other media, that are part of the regional, national and international collective memory in order to enable access to the information and knowledge contained in its contents. collections. </p>
  
       <img src="../../assets/bxl-instagram.svg" alt=""><a href="https://instagram.com/biblio.vgb?utm_medium=copy_link ">Visit us on our instagram</a>
 </article> 

</div>


</div>

</div>
