<div class="container">

 

    <form action="" class="form">

        <h3 class="titulo">Sign up</h3>
        <div class="nombre">
        <label for="nombre">Name: </label>
        <input type="text" name="nombre">
        </div>

        <div class="apellido">
            <label for="apellido">Lastname: </label>
            <input type="text" name="apellido">
        </div>
    
        <div class="email">
            <label for="email">E-mail: </label>
            <input type="text" name="email">
        </div>

        <div class="user">
            <label for="usuario">User: </label>
            <input type="text" name="usuario">
            </div>
    

        <div class="clave">
        <label for="contraseña">Password</label>
        <input type="password" name="contraseña">
        </div>

        <div class="cajaboton">
        <input type="submit" value="Enter" >
        </div>

        <div class="info">
        <p>Already have an account?  <a href="login">Sign in</a></p>
        </div>
    </form>
</div>
