<div class="nuestros-servicios" id="servicios">
    <div class="contenedor"><br>
        <a name="NUESTROS SERVICIOS"></a>
        <h2 class="titulo">OUR SERVICES</h2>
        <div class="servicio-cont">
       
 
        <div class="servicio-ind">
            <img src="../../assets/ilustraciones4.png" alt="">
            <h3>Monthly, semi-annual and annual subscription.</h3>
            <p>You can make use of physical and digital bibliographic material without restrictions; have a reading space whenever you want.
            </p>
           <p>Click here to <a [routerLink]= "['/tienda']"><strong>SUBSCRIBE</strong></a></p>
              </div> 
           
        <div class="servicio-ind">
            <img src="../../assets/ilustraciones5.png" alt="">
            <h3>Reserve of books</h3>
            <p>You can consult the book of your interest and reserve it</p>
        </div>
  
        <div class="servicio-ind">
            <img src="../../assets/ilustraciones3.png" alt="">
            <h3>Book a reading space</h3>
            <p>You can visit us in our space, and spend a pleasant moment of reading, tranquility</p>
        </div>
    </div>
